<app-navbar></app-navbar>

<br><br><br><br>

<section class="contact" id="contact">
    <h1 class="heading"> <span> contact</span> us </h1>
    <div class="row">
        <form action="">
            <input type="text" class="box" placeholder="name">
            <input type="email" class="box" placeholder="email">
            <input type="number" class="box" placeholder="number">
            <textarea name="" id="" cols="30" rows="10" class="box" placeholder="message"></textarea>
            <input type="submit" value="send message" class="btn">
        </form>

        <div class="image">
            <img src="../../../assets/pictures/contact.jpg" alt="">
        </div>
    </div>
</section>