
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

<header>

    <input type="checkbox" name="" id="toggler">
    <label for="toggler" class="fas fa-bars"></label>

    <a href="#" class="logo">findur <span>.</span></a>
    <nav class="navbar">
        <a routerLink="/home">home</a>
        <a routerLink="/pets">Pets</a>
        <a routerLink="/credits">Volunteers</a>
        <a routerLink="/contact">Contact</a>
    </nav>

    <div class="icons">
        <a href="#" class="fas fa-heart"></a>
        <a href="#" class="fas fa-bell"></a>
        <a routerLink="/login" class="fas fa-user"></a>
    </div>
</header>

<section class="home" id="home">
    <div class="content">
        <h3>findur</h3>
        <span>best dog foundation</span>
        <p>is a small dog adoption foundation dedicated to rescuing, rehabilitating, and rehoming dogs in need.</p>
        <a href="#" class="btn">check catalog</a>
    </div>
</section>

<section class="about" id="about">
    <h1 class="heading"><span>about</span> us</h1>
    <div class="row">
        <div class="video-container">
            <video src="../../../assets/pictures/foundation.mp4" loop autoplay muted></video>
            <h3>Best Animal Rescue Foundation</h3>
        </div>

        <div class="content">
            <h3>Why choose us?</h3>
            <p>Choose Findur for your dog adoption needs and experience compassionate care, tailored support, and a dedicated team that prioritizes the well-being of every dog. Our thorough adoption process ensures the perfect match between dogs and families, with ongoing support for a successful transition.</p>
            <p>Join us in making a lasting impact and creating a brighter future for these deserving dogs.</p>
            <!--<a href="#" class="btn">learn more</a>-->
        </div>
    </div>
</section>

<section class="icons-container">
    <div class="icons">
        <img class="icon-img" src="../../../assets/pictures/help.png" alt="">
        <div class="info">
            <h3>Adopt Now</h3>
            <span>Urgent Adoption</span>
        </div>
    </div>

    <div class="icons">
        <img class="icon-img"  src="../../../assets/pictures/donation.png" alt="">
        <div class="info">
            <h3>Donate Today</h3>
            <span>Support Rescue</span>
        </div>
    </div>

    <div class="icons">
        <img class="icon-img" src="../../../assets/pictures/partnership.png" alt="">
        <div class="info">
            <h3>Volunteer with Us</h3>
            <span>Join team</span>
        </div>
    </div>

    <div class="icons">
        <img class="icon-img" src="../../../assets/pictures/share.png" alt="">
        <div class="info">
            <h3>Share Their Story</h3>
            <span>inspire others</span>
        </div>
    </div>
</section>


<!--
<section class="products" id="products">
    <h1 class="heading">lastest <span>products</span></h1>
    <div class="box-container">
        <div class="box">
            <span class="discount">-10%</span>
            <div class="image">
                <img class="products-img" src="../../../assets/pictures/dog1.jpg" alt="">
                <div class="icons">
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="car-btn">add to cart</a>
                    <a href="#" class="fas fa-share"></a>
                </div>
            </div>
            <div class="content">
                <h3>flower pot</h3>
                <div class="price">$12.99 <span>$15.99</span></div>
            </div>
        </div>

        <div class="box">
            <span class="discount">-10%</span>
            <div class="image">
                <img class="products-img" src="../../../assets/pictures/dog2.jpg" alt="">
                <div class="icons">
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="car-btn">add to cart</a>
                    <a href="#" class="fas fa-share"></a>
                </div>
            </div>
            <div class="content">
                <h3>flower pot</h3>
                <div class="price">$12.99 <span>$15.99</span></div>
            </div>
        </div>

        <div class="box">
            <span class="discount">-10%</span>
            <div class="image">
                <img class="products-img" src="../../../assets/pictures/dog3.jpg" alt="">
                <div class="icons">
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="car-btn">add to cart</a>
                    <a href="#" class="fas fa-share"></a>
                </div>
            </div>
            <div class="content">
                <h3>flower pot</h3>
                <div class="price">$12.99 <span>$15.99</span></div>
            </div>
        </div>

        <div class="box">
            <span class="discount">-10%</span>
            <div class="image">
                <img class="products-img" src="../../../assets/pictures/dog4.jpg" alt="">
                <div class="icons">
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="car-btn">add to cart</a>
                    <a href="#" class="fas fa-share"></a>
                </div>
            </div>
            <div class="content">
                <h3>flower pot</h3>
                <div class="price">$12.99 <span>$15.99</span></div>
            </div>
        </div>

        <div class="box">
            <span class="discount">-10%</span>
            <div class="image">
                <img class="products-img" src="../../../assets/pictures/dog5.jpg" alt="">
                <div class="icons">
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="car-btn">add to cart</a>
                    <a href="#" class="fas fa-share"></a>
                </div>
            </div>
            <div class="content">
                <h3>flower pot</h3>
                <div class="price">$12.99 <span>$15.99</span></div>
            </div>
        </div>

        <div class="box">
            <span class="discount">-10%</span>
            <div class="image">
                <img class="products-img" src="../../../assets/pictures/dog6.jpg" alt="">
                <div class="icons">
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="car-btn">add to cart</a>
                    <a href="#" class="fas fa-share"></a>
                </div>
            </div>
            <div class="content">
                <h3>flower pot</h3>
                <div class="price">$12.99 <span>$15.99</span></div>
            </div>
        </div>

        <div class="box">
            <span class="discount">-10%</span>
            <div class="image">
                <img class="products-img" src="../../../assets/pictures/dog7.jpg" alt="">
                <div class="icons">
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="car-btn">add to cart</a>
                    <a href="#" class="fas fa-share"></a>
                </div>
            </div>
            <div class="content">
                <h3>flower pot</h3>
                <div class="price">$12.99 <span>$15.99</span></div>
            </div>
        </div>

        <div class="box">
            <span class="discount">-10%</span>
            <div class="image">
                <img class="products-img" src="../../../assets/pictures/dog8.jpg" alt="">
                <div class="icons">
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="car-btn">add to cart</a>
                    <a href="#" class="fas fa-share"></a>
                </div>
            </div>
            <div class="content">
                <h3>flower pot</h3>
                <div class="price">$12.99 <span>$15.99</span></div>
            </div>
        </div>

        <div class="box">
            <span class="discount">-10%</span>
            <div class="image">
                <img class="products-img" src="../../../assets/pictures/dog9.jpg" alt="">
                <div class="icons">
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="car-btn">add to cart</a>
                    <a href="#" class="fas fa-share"></a>
                </div>
            </div>
            <div class="content">
                <h3>flower pot</h3>
                <div class="price">$12.99 <span>$15.99</span></div>
            </div>
        </div>
    </div>    
</section>

<section class="review" id="review">
    <h1 class="heading"> customer's <span>review</span> </h1>
    <div class="box-container">
        <div class="box">
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet, perferendis debitis exercitationem sint commodi quidem ad nesciunt consectetur dolor error quibusdam perspiciatis, tenetur nisi libero laudantium, aut quas eos rem?</p>
            <div class="user">
                <img class="img-donator" src="../../../assets/pictures/donator1.jpg" alt="">
                <div class="user-info">
                    <h3>john deo</h3>
                    <span>happy customer</span>
                </div>
            </div>
            <span class="fas fa-quote-right"></span>
        </div>

        <div class="box">
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet, perferendis debitis exercitationem sint commodi quidem ad nesciunt consectetur dolor error quibusdam perspiciatis, tenetur nisi libero laudantium, aut quas eos rem?</p>
            <div class="user">
                <img class="img-donator" src="../../../assets/pictures/donator2.jpg" alt="">
                <div class="user-info">
                    <h3>john deo</h3>
                    <span>happy customer</span>
                </div>
            </div>
            <span class="fas fa-quote-right"></span>
        </div>

        <div class="box">
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet, perferendis debitis exercitationem sint commodi quidem ad nesciunt consectetur dolor error quibusdam perspiciatis, tenetur nisi libero laudantium, aut quas eos rem?</p>
            <div class="user">
                <img class="img-donator" src="../../../assets/pictures/donator3.jpg" alt="">
                <div class="user-info">
                    <h3>john deo</h3>
                    <span>happy customer</span>
                </div>
            </div>
            <span class="fas fa-quote-right"></span>
        </div>

    </div>
</section>

<section class="contact" id="contact">
    <h1 class="heading"> <span> contact</span> us </h1>
    <div class="row">
        <form action="">
            <input type="text" class="box" placeholder="name">
            <input type="email" class="box" placeholder="email">
            <input type="number" class="box" placeholder="number">
            <textarea name="" id="" cols="30" rows="10" class="box" placeholder="message"></textarea>
            <input type="submit" value="send message" class="btn">
        </form>

        <div class="image">
            <img src="../../../assets/pictures/contact.jpg" alt="">
        </div>
    </div>
</section>

-->