<app-navbar></app-navbar>

<section class="content">
  <form [formGroup]="updateForm" novalidate>
    <div class="form-row">
      <div class="txt_field">
        <input type="text" formControlName="nombre" required>
        <span></span>
        <label>Name:</label>
        <p *ngIf="this.updateForm.get('nombre')!.hasError('required') && submitted" class="error-field">Campo Obligatorio</p>
      </div>
      <div class="txt_field">
        <select required formControlName="id_raza">
            <option *ngFor="let opt of breeds" [value]="opt.id">{{opt.nombre}}</option>
        </select>
        <span></span>
        <label>Breed:</label>
        <p *ngIf="this.updateForm.get('id_raza')!.hasError('required') && submitted" class="error-field">Campo Obligatorio</p>
      </div>
    </div>
    <div class="form-row">
      <div class="txt_field">
        <input type="text" formControlName="color" required>
        <span></span>
        <label>Color:</label>
        <p *ngIf="this.updateForm.get('color')!.hasError('required') && submitted" class="error-field">Campo Obligatorio</p>
      </div>
      <div class="txt_field">
        <input type="text" formControlName="descripcion" required>
        <span></span>
        <label>Description:</label>
        <p *ngIf="this.updateForm.get('descripcion')!.hasError('required') && submitted" class="error-field">Campo Obligatorio</p>
      </div>
    </div>
    <div class="form-row">
      <div class="txt_field">
        <input type="text" formControlName="genero" required>
        <span></span>
        <label>Gender:</label>
        <p *ngIf="this.updateForm.get('genero')!.hasError('required') && submitted" class="error-field">Campo Obligatorio</p>
      </div>
    </div>
    <div class="form-row">
      <input class="input-button" type="submit" (click)="submit()" value="Update">
    </div>
  </form>
</section>
