<app-navbar></app-navbar>

<br><br><br><br>

<section class="contact" id="contact">
    <h1 class="heading"> <span>Ask him </span> everithing!</h1>
    <div class="row">
        <form [formGroup]="mailForm" novalidate>
            <input type="text" class="box" placeholder="name" formControlName="name" required>
            <p *ngIf="this.mailForm.get('name')!.hasError('required') && submitted" class="error-field">Mandatory field!</p>
            <input type="email" class="box" placeholder="email" formControlName="email" required>
            <p *ngIf="this.mailForm.get('email')!.hasError('required') && submitted" class="error-field">Mandatory field!</p>
            <input type="number" class="box" placeholder="number" formControlName="number" required>
            <p *ngIf="this.mailForm.get('number')!.hasError('required') && submitted" class="error-field">Mandatory field!</p>
            <textarea name="" id="" cols="30" rows="10" class="box" placeholder="message" formControlName="message" required></textarea>
            <p *ngIf="this.mailForm.get('message')!.hasError('required') && submitted" class="error-field">Mandatory field!</p>
            <input type="submit" value="send message" class="btn" (click)="submit()">
        </form>

        <!-- <div class="image">
            <img src="../../../assets/pictures/contact.jpg" alt="">
        </div> -->
    </div>
</section>
