
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<header>

    <input type="checkbox" name="" id="toggler">
    <label for="toggler" class="fas fa-bars"></label>

    <a href="#" class="logo">findur <span>.</span></a>
    <nav class="navbar">
        <a routerLink="/home">home</a>
        <a routerLink="/pets">Pets</a>
        <a routerLink="/credits">Volunteers</a>
        <a routerLink="/contact">Contact</a>
    </nav>

    <div class="icons">
        <a href="#" class="fas fa-heart"></a>
        <a href="#" class="fas fa-bell"></a>
        <a routerLink="/login" class="fas fa-user"></a>
    </div>
</header>

<section class="content">
  <div class="profile-content">
    <section class="top">
      <div class="profile-picture">
        <!-- <img src="" alt=""> -->
      </div>
    </section>
    <section class="bottom">
      <p class="profile-text">{{this.userInfo?.nombre}} {{this.userInfo?.apellido_p}} {{this.userInfo?.apellido_m}}</p>
      <p class="profile-text">{{this.userInfo?.email}}</p>
      <div class="buttons">
        <button routerLink="/info">Info</button>
        <button routerLink="/mypets">My Pets</button>
      </div>
    </section>
  </div>
</section>
