<app-navbar></app-navbar>

<section class="content">
  <div class="profile-content">
    <section class="top">
      <div class="profile-picture">
        <!-- <img src="" alt=""> -->
      </div>
    </section>
    <section class="bottom">
      <p class="profile-text">{{this.userInfo?.nombre}} {{this.userInfo?.apellido_p}} {{this.userInfo?.apellido_m}}</p>
      <p class="profile-text">{{this.userInfo?.email}}</p>
      <div class="buttons">
        <button routerLink="/info">Info</button>
        <button routerLink="/mypets">My Pets</button>
      </div>
    </section>
  </div>
</section>
