<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

<header>

    <input type="checkbox" name="" id="toggler">
    <label for="toggler" class="fas fa-bars"></label>

    <a href="#" class="logo">findur <span>.</span></a>
    <nav class="navbar">
        <a routerLink="/home">home</a>
        <a routerLink="/pets">Pets</a>
        <a routerLink="/credits">Volunteers</a>
        <a routerLink="/contact">Contact</a>
    </nav>

    <div class="icons">
        <a href="#" class="fas fa-heart"></a>
        <a href="#" class="fas fa-bell"></a>
        <a href="#" class="fas fa-user"></a>
    </div>
</header>

<br><br><br><br>

<section class="review" id="review">
    <h1 class="heading"> volunteers <span>bio</span> </h1>
    <div class="box-container">
        <div class="box">
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
            <p>Taylor Swift is a global superstar, singer-songwriter, and cultural icon. Her captivating music and powerful storytelling have garnered immense popularity worldwide. With numerous awards and a dedicated fan base, Swift's influence spans generations. Her ability to connect with listeners through relatable lyrics and memorable melodies has solidified her status as an artist</p>
            <div class="user">
                <img class="img-donator" src="../../../assets/pictures/tswift.webp" alt="">
                <div class="user-info">
                    <h3>Taylor Swift</h3>
                    <span>happy volunteer</span>
                </div>
            </div>
            <span class="fas fa-quote-right"></span>
        </div>

        <div class="box">
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
            <p>Katy Perry is a dynamic and charismatic pop superstar known for her vibrant personality and catchy music. With her energetic performances and chart-topping hits, she has garnered a massive following. Perry's unique style and powerful vocals have solidified her status as one of the most successful and influential artists in contemporary pop music.</p>
            <div class="user">
                <img class="img-donator" src="../../../assets/pictures/donator2.jpg" alt="">
                <div class="user-info">
                    <h3>Katy Perry</h3>
                    <span>happy volunter</span>
                </div>
            </div>
            <span class="fas fa-quote-right"></span>
        </div>

        <div class="box">
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
            <p>Clara Mae is a talented singer-songwriter who captivates audiences with her soulful voice and heartfelt lyrics. With her infectious energy and magnetic stage presence, she has garnered attention in the music industry. Clara Mae's music blends pop sensibilities with emotional depth, making her a rising star to watch out for.
            </p>
            <div class="user">
                <img class="img-donator" src="../../../assets/pictures/donator3.jpg" alt="">
                <div class="user-info">
                    <h3>Clara Mae</h3>
                    <span>happy volunteer</span>
                </div>
            </div>
            <span class="fas fa-quote-right"></span>
        </div>

    </div>
</section>